<div class="autoscroll">
<%= form_tag("/work_statuses/index", method: "get") do %>
    <%= label_tag(:q, "Search for:") %>
    <%= select("user", "id", @persons.collect{|t| [t.login, t.id]}, { :include_blank => false }) %>
    <%= submit_tag("Search") %>
<% end %>

<% unless @work_info.nil? %>
    <table class="list">
      <caption>用户:<%= @user.login %></caption>


      <thead>
      <tr>
        <th>工作状态</th>
        <th>任务数量</th>

      </tr>
      </thead>
      <tbody>

      <% @work_info.each do |work| -%>
          <tr>
            <td class="name"><%= work[0] %></td>
            <td class="num"><%= work[1] %></td>
          </tr>
      <% end -%>
      </tbody>
    </table>

<% end %>



</div>